<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#"></a>Cart</li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <h1>Products</h1>
    {% for product in products %}
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: {{  product.price }}</p>
        {% if product.image_path %}
            <img src="{{ url_for('static', filename='uploads/' + product.image_path) }}" alt="{{ product.name }}">
        {% endif %}
    {% endfor %}
</body>
</html>